﻿@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<main class="main-areap">
    <article>
        <h1>ВЫДАЧА ДУБЛИКАТА</br> РАЗРЕШЕНИЯ НА РАЗМЕЩЕНИЕ СРЕДСТВА НАРУЖНОЙ РЕКЛАМЫ</h1>
        <p>
            Для выдачи дубликата разрешения на размещение средства наружной рекламы рекламораспространитель представляет в в коммунальное производственное унитарное предприятие «Реклама и услуги» соответствующее заявление с необходимым пакетом документов для осуществления административной процедуры - выдача дубликата разрешения на размещение средства наружной рекламы
        </p>

        <h1>
            ПЕРЕЧЕНЬ ДОКУМЕНТОВ
            ДЛЯ Продление действия разрешения:
        </h1>
        <div class="fonp">
            <figure>
                <img src="~/images/заявление.png" alt="foto" />
            </figure>

            <div>
                <h1>1. Заявление</h1>
                <p>Заявление для выдачи дубликата разрешения на размещение средства наружной рекламы в произвольной форме с указанием причины получения дубликата</p>

            </div>
        </div>

        <div class="fonp">
            <div class="groupp">
                <h1>2. Фотографии</h1>
                <p>Две фотографии с обозначением места размещения средства наружной рекламы размером 9 x 13 сантиметров, выполненные в цвете</p>
            </div>

            <figure>
                <img src="~/images/2фотографии.png" alt="foto" />
            </figure>
        </div>

        <div class="fonp" style="border: none">
            <figure>
                <img src="~/images/паспорт.png" alt="foto" />
            </figure>

            <div>
                <h1>3. Разрешение</h1>
                <p>Пришедшее в негодность разрешение на размещение средства наружной рекламы (при наличии)</p>
            </div>

        </div>

        <div class="timep">
            <figure>
                <img src="~/images/часы.png" alt="foto" />
            </figure>
            <h1>
                СРОК</br>
                ОСУЩЕСТВЛЕНИЯ </br>
                АДМИНИСТРАТИВНОЙ ПРОЦЕДУРЫ:
            </h1>
            <div class="srok">
                <h1>10 дней</h1>
            </div>

            <h1>
                СРОК
                ДЕЙСТВИЯ СПРАВОК ИЛИ ДРУГИХ ДОКУМЕНТОВ, </br>ВЫДАВАЕМЫХ
                ПРИ ОСУЩЕСТВЛЕНИИ </br>
                АДМИНИСТРАТИВНОЙ ПРОЦЕДУРЫ:
            </h1>
            <div class="srokp">
                <h1>На срок действия разрешения</h1>
            </div>

            <div style="border: rgb(0, 172, 193) 5px solid; margin-top: 5rem;"></div>
        </div>
        <div class="bosp">
            <h1 style="text-align: center;">
                ОТВЕТСТВЕННЫЙ ЗА ОСУЩЕСТВЛЕНИЕ </br>
                АДМИНИСТРАТИВНОЙ ПРОЦЕДУРЫ</br>
                «ВЫДАЧА ДУБЛИКАТА РАЗРЕШЕНИЯ НА РАЗМЕЩЕНИЕ СРЕДСТВА НАРУЖНОЙ РЕКЛАМЫ»
            </h1>
            <div class="fon2p">
                <h1>Лубяникова</br> Анастасия Владимирована</h1>
                <p>дизайнер</p>
                <h3>
                    ВРЕМЯ ПРИЕМА И ВЫДАЧИ ДОКУМЕНТОВ</br>
                    ДЛЯ ОСУЩЕСТВЛЕНИЯ АДМИНИСТРАТИВНЫХ ПРОЦЕДУР:
                </h3>
                <p>
                    Ежедневно: с 8.00 до 17.00</br>
                    Перерыв на обед: с 13.00 до 14.00
                </p>
                <p>Выходные: суббота, воскресенье</p>
                <p>
                    В отсутствие Лубяниковой А.В. - Жигунов Роман Игоревич,</br>
                    юрисконсульт, </br>
                    г.Бобруйск, ул.М.Горького, 41,к.1,</br>
                    тел.+375 (225)-77-65-71
                </p>
                <h3>АДРЕС:</h3>
                <p>г.Бобруйск, ул. М. Горького, 41</p>
                <h3>ТЕЛЕФОН:</h3>
                <p>+375(225) 77-65-71 </p>
                <h3>E-MAIL:</h3>
                <p>reclamariubobr@gmail.com</p>
            </div>
        </div>
        <h1>
            В соответствии со статьей 15  Законом Республики Беларусь от 28.10.2008 №433-З «Об основах административных процедур»
            при обращении субъектов хозяйствования представляются документы:
        </h1>
        <p>
            1. Подтверждающие служебное положение руководителя юридического лица, а также удостоверяющие его личность;</br>
            2. Подтверждающие государственную регистрацию юридического лица или индивидуального предпринимателя;</br>
            3. Подтверждающие полномочия представителя заинтересованного лица.
        </p>
        <h1>Размеры платы за услуги по оформлению (продлению действия, переоформлению) паспорта средства наружной рекламы согласно <a href="~/doc/price_oform.pdf" download>Прейскуранту</a></h1>
    </article>
</main>