﻿@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<main class="main-areap">
    <article>
        <h1>
            Продление действия разрешения
            на размещение средства наружной рекламы
        </h1>
        <p>
            Для продления действия разрешения рекламораспространитель не ранее чем за два месяца и не позднее чем за пять рабочих дней до окончания срока действия разрешения представляет в в коммунальное производственное унитарное предприятие «Реклама и услуги» соответствующее заявление с необходимым пакетом документов (п.22 Положения) для осуществления административной процедуры, предусмотренной подпунктом 8.13.2 пункта 8.13 единого перечня административных процедур, осуществляемых в отношении субъектов хозяйствования, утвержденного постановлением Совета Министров Республики Беларусь от 24 сентября 2021 г. № 548 - продление действия разрешения на размещение средства наружной рекламы
        </p>

        <h1>
            ПЕРЕЧЕНЬ ДОКУМЕНТОВ
            ДЛЯ Продление действия разрешения:
        </h1>
        <div class="fonp">
            <figure>
                <img src="~/images/заявление.png" alt="foto" />
            </figure>

            <div>
                <h1>1. Заявление</h1>
                <p>
                    Заявление по форме согласно приложению 4 к Положению о порядке выдачи, продления действия, переоформления и прекращения действия разрешения на размещение средства наружной рекламы, утвержденному Постановлением Совета Министров Республики Беларусь от 07.07.2021 № 395 </br> <a href="~/doc/zayavlenie2.docx" download>Сохранить</a>
                </p>

            </div>
        </div>

        <div class="fonp">
            <div class="groupp">
                <h1>2. Паспорт средства наружной рекламы</h1>
                <p>Ранее выданное рекламораспространителю Бобруйским городским исполнительным комитетом разрешение на размещение средства наружной рекламы</p>
            </div>

            <figure>
                <img src="~/images/паспорт.png" alt="foto" />
            </figure>
        </div>

        <div class="fonp">
            <figure>
                <img src="~/images/фотография.png" alt="foto" />
            </figure>

            <div>
                <h1>3. Фотография</h1>
                <p>Фотография средства наружной рекламы в увязке с конкретной архитектурно-планировочной ситуацией по месту его размещения размером 9х13 сантиметров, выполненная в цвете</p>
            </div>

        </div>
        <div class="fonp">

            <div class="groupp">
                <h1>4. Письмо о согласии собственника</h1>
                <p>Письмо или иной документ о согласии собственника или уполномоченного лица на размещение средства наружной рекламы, выданные в течение последних шести месяцев, – если место размещения средства наружной рекламы находится в республиканской или частной собственности, за исключением случаев, когда рекламораспространитель является собственником или уполномоченным лицом либо средство наружной рекламы размещается на имуществе, находящемся в общей собственности нескольких лиц.</p>
            </div>
            <figure>
                <img src="~/images/собственник.png" alt="foto" />
            </figure>
        </div>

        <div class="fonp" style="border: none">
            <figure>
                <img src="~/images/оплата.png" alt="foto" />
            </figure>
            <div>
                <h1>5. Оплата</h1>
                <p>
                    Документ, подтверждающий внесение платы. </br>
                    Если оригинал документа, подтверждающего внесение платы за совершение административной процедуры и (или) уплату государственной пошлины, существует только в виде электронного документа, заявителем может быть представлена на бумажном носителе форма внешнего представления этого документа, оформленная в соответствии с требованиями законодательства (данное требование не распространяется на случаи внесения платы и (или) уплаты государственной пошлины посредством использования автоматизированной информационной системы единого расчетного и информационного пространства). В случае внесения платы за совершение административной процедуры и (или) уплаты государственной пошлины посредством использования автоматизированной информационной системы единого расчетного и информационного пространства и наличия сведений об этом в заявлении заинтересованного лица о совершении соответствующей административной 851 процедуры с указанием номера платежа, представления документа, подтверждающего внесение платы за совершение административной процедуры и (или) уплату государственной пошлины, не требуется. Факт внесения платы за совершение административной процедуры и (или) уплаты государственной пошлины посредством использования автоматизированной информационной системы единого расчетного и информационного пространства подтверждается наличием в автоматизированной информационной системе единого расчетного и информационного пространства информации, подтверждающей внесение платы, зачисление государственной пошлины
                </p>
            </div>

        </div>

        <div class="timep">
            <figure>
                <img src="~/images/часы.png" alt="foto" />
            </figure>
            <h1>
                СРОК</br>
                ОСУЩЕСТВЛЕНИЯ </br>
                АДМИНИСТРАТИВНОЙ ПРОЦЕДУРЫ:
            </h1>
            <div class="srokp">
                <h1>5 рабочих дней</h1>
            </div>

            <h1>
                СРОК
                ДЕЙСТВИЯ СПРАВОК ИЛИ ДРУГИХ ДОКУМЕНТОВ, </br>ВЫДАВАЕМЫХ
                ПРИ ОСУЩЕСТВЛЕНИИ </br>
                АДМИНИСТРАТИВНОЙ ПРОЦЕДУРЫ:
            </h1>
            <div class="fon1p">
                <div class="squarep">

                    <h2> не менее </br>7 ЛЕТ </h2>
                </div>
                <div>
                    <p>На средства наружной рекламы такие как мультимедийные рекламные конструкции, электронные табло</p>
                </div>
            </div>

            <div class="fon1p">
                <div class="squarep">

                    <h2> не менее </br>5 ЛЕТ </h2>
                </div>
                <div>
                    <p>
                        На иные технически сложные средства наружной рекламы (надкрышные рекламные конструкции, средства наружной рекламы на путепроводах (мостах), щиты с площадью рекламного поля 32 кв. метра и более, иные средства наружной рекламы с площадью рекламного поля более 50 кв. метров, щиты с внутренней подсветкой, щиты с вращающимися рекламными полями, призматроны, лайтпостеры (световые коробы) с площадью рекламного поля более 2,16 кв. метра, лайтпостеры (световые коробы) в подземных пешеходных переходах, панели с внутренней подсветкой, а также иные средства наружной рекламы, отнесенные к технически сложным средствам наружной рекламы решением местного исполнительного и распорядительного органа), объемно-пространственные рекламные конструкции;
                    </p>
                </div>
            </div>
            <div class="fon1p">
                <div class="squarep">

                    <h2> не менее </br>3 ЛЕТ </h2>
                </div>
                <div>
                    <p>
                        На лайтпостеры (световые коробы) с площадью рекламного поля до 2,16 кв. метра включительно, за исключением размещаемых в подземных пешеходных переходах, щиты с площадью рекламного поля до 32 кв. метров без внутренней подсветки, пилоны, панели без внутренней подсветки, указатели с внутренней подсветкой, иные средства наружной рекламы, закрепляемые на земельном участке;
                    </p>
                </div>
            </div>
            <div class="fon1p">
                <div class="squarep">

                    <h2> не менее </br>1 года </h2>
                </div>
                <div>
                    <p>На иные средства наружной рекламы, если иное не определено договором на размещение средства наружной рекламы.</p>
                </div>
            </div>

            <div style="border: rgb(0, 172, 193) 5px solid;"></div>
        </div>
        <div class="bosp">
            <h1 style="text-align: center;">
                ОТВЕТСТВЕННЫЙ ЗА ОСУЩЕСТВЛЕНИЕ </br>
                АДМИНИСТРАТИВНОЙ ПРОЦЕДУРЫ</br>
                8.13.2.  «Продление действия разрешения</br>
                на размещение средства наружной рекламы»
            </h1>
            <div class="fon2p">
                <h1>Лубяникова</br> Анастасия Владимирована</h1>
                <p>дизайнер</p>
                <h3>
                    ВРЕМЯ ПРИЕМА И ВЫДАЧИ ДОКУМЕНТОВ</br>
                    ДЛЯ ОСУЩЕСТВЛЕНИЯ АДМИНИСТРАТИВНЫХ ПРОЦЕДУР:
                </h3>
                <p>
                    Ежедневно: с 8.00 до 17.00</br>
                    Перерыв на обед: с 13.00 до 14.00
                </p>
                <p>Выходные: суббота, воскресенье</p>
                <p>
                    В отсутствие Лубяниковой А.В. - Шлеева Анастасия Владимировна,</br>
                    юрисконсульт, </br>
                    г.Бобруйск, ул.М.Горького, 41,к.1,</br>
                    тел.+375 (225)-77-65-71
                </p>
                <h3>АДРЕС:</h3>
                <p>г.Бобруйск, ул. М. Горького, 41</p>
                <h3>ТЕЛЕФОН:</h3>
                <p>+375(225) 77-65-71 </p>
                <h3>E-MAIL:</h3>
                <p>reclamariubobr@gmail.com</p>
            </div>
        </div>
        <h1>
            В соответствии со статьей 15  Законом Республики Беларусь от 28.10.2008 №433-З «Об основах административных процедур»
            при обращении субъектов хозяйствования представляются документы:
        </h1>
        <p>
            1. Подтверждающие служебное положение руководителя юридического лица, а также удостоверяющие его личность;</br>
            2. Подтверждающие государственную регистрацию юридического лица или индивидуального предпринимателя;</br>
            3. Подтверждающие полномочия представителя заинтересованного лица.
        </p>
        <h1>Размеры платы за услуги по оформлению (продлению действия, переоформлению) паспорта средства наружной рекламы согласно <a href="~/doc/price_oform.pdf" download>Прейскуранту</a></h1>
    </article>
</main>