﻿@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<main class="main-areap">
    <article>
        <h1>
            Получение разрешения
            на размещение средства наружной рекламы
        </h1>
        <p>Для получения разрешения на размещение средства наружной рекламы, необходимо обращаться в коммунальное производственное унитарное предприятие «Реклама и услуги» с заявлением и документами для осуществления административной процедуры, предусмотренной подпунктом 8.13.1 пункта 8.13 единого перечня административных процедур, осуществляемых в отношении субъектов хозяйствования, утвержденного постановлением Совета Министров Республики Беларусь от 24 сентября 2021 г. № 548 - получение разрешения на размещение средства наружной рекламы</p>

        <h1>
            ПЕРЕЧЕНЬ ДОКУМЕНТОВ
            ДЛЯ ОФОРМЛЕНИЯ ПАСПОРТА:
        </h1>
        <div class="fonp">
            <figure>
                <img src="images/заявление.png" alt="foto" />
            </figure>

            <div>
                <h1>1. Заявление</h1>
                <p>
                    Заявление по форме согласно приложению 3 к Положению о порядке выдачи, продления действия, переоформления и прекращения действия разрешения на размещение средства наружной рекламы, утвержденному Постановлением Совета Министров Республики Беларусь от 07.07.2021 № 395 </br> <a href="~/doc/zayavlenie1.docx" download>Сохранить</a>
                </p>

            </div>
        </div>

        <div class="fonp">
            <div class="groupp">
                <h1>2. Эскиз</h1>
                <p>
                    Зскиз средства наружной рекламы в увязке с конкретной архитектурно-планировочной ситуацией по месту его размещения, выполненный на бумажном носителе в цвете
                </p>
            </div>

            <figure>
                <img src="images/эскиз.png" alt="foto" />
            </figure>
        </div>

        <div class="fonp">
            <figure>
                <img src="images/фотографии.png" alt="foto" />
            </figure>

            <div>
                <h1>3. Фотографии</h1>
                <p>
                    Три фотографии места размещения средства наружной рекламы размером 9 x 13 сантиметров (1 фотография с панорамной съемкой места размещения средства наружной рекламы, 2 фотографии с обозначением места размещения средства наружной рекламы), выполненные в цвете.
                </p>
            </div>

        </div>
        <div class="fonp">

            <div class="groupp">
                <h1>4. Письмо о согласии собственника</h1>
                <p>
                    Письмо или иной документ о согласии собственника места размещения средства наружной рекламы (далее в настоящем пункте – собственник) или лица, указанного в абзацах втором–пятом части четвертой пункта 1 статьи 13 Закона Республики Беларусь от 10 мая 2007 г. № 225-З «О рекламе» (далее в настоящем пункте – уполномоченное лицо), на размещение средства наружной рекламы, выданные в течение последних шести месяцев, – если место размещения средства наружной рекламы находится в республиканской или частной собственности и проведение торгов не требуется, за исключением случая, когда рекламораспространитель является собственником или уполномоченным лицом. При размещении средства наружной рекламы на имуществе, находящемся в общей собственности нескольких лиц, в случае, когда проведение торгов не требуется, – документ, подтверждающий согласие собственников на размещение средства наружной рекламы в количестве, необходимом в соответствии с законодательством для принятия таких решений (копия протокола общего собрания, письменного опроса собственников или иной предусмотренный законодательством документ) .
                </p>
            </div>
            <figure>
                <img src="images/собственник.png" alt="foto" />
            </figure>
        </div>
        <div class="fonp">
            <figure>
                <img src="images/свидетельство.png" alt="foto" />
            </figure>

            <div>
                <h1>
                    5. Свидетельство
                    о государственной регистрации
                </h1>
                <p>
                    Копия документа, подтверждающего государственную регистрацию рекламораспространителя (при первой подаче такого документа в соответствующий исполком).
                </p>
            </div>

        </div>
        <div class="fonp">

            <div class="groupp">
                <h1>6. Оплата</h1>
                <p>
                    Документ, подтверждающий внесение платы. </br>
                    Если оригинал документа, подтверждающего внесение платы за совершение административной процедуры и (или) уплату государственной пошлины, существует только в виде электронного документа, заявителем может быть представлена на бумажном носителе форма внешнего представления этого документа, оформленная в соответствии с требованиями законодательства (данное требование не распространяется на случаи внесения платы и (или) уплаты государственной пошлины посредством использования автоматизированной информационной системы единого расчетного и информационного пространства). В случае внесения платы за совершение административной процедуры и (или) уплаты государственной пошлины посредством использования автоматизированной информационной системы единого расчетного и информационного пространства и наличия сведений об этом в заявлении заинтересованного лица о совершении соответствующей административной 851 процедуры с указанием номера платежа, представления документа, подтверждающего внесение платы за совершение административной процедуры и (или) уплату государственной пошлины, не требуется. Факт внесения платы за совершение административной процедуры и (или) уплаты государственной пошлины посредством использования автоматизированной информационной системы единого расчетного и информационного пространства подтверждается наличием в автоматизированной информационной системе единого расчетного и информационного пространства информации, подтверждающей внесение платы, зачисление государственной пошлины
                </p>
            </div>
            <figure>
                <img src="images/оплата.png" alt="foto" />
            </figure>
        </div>

        <div class="fonp" style="border: none">

            <div>
                <h1>ОБРАЩАЕМ ВНИМАНИЕ! </h1>
                <p>
                    В случае, если размещение средства наружной рекламы требует разрытия грунта или выполнения иных земляных работ, рекламораспространитель осуществляет разработку проекта привязки средства наружной рекламы к участку местности (разработка проекта предусмотрена Декретом Президента Республики Беларусь от 23.11.2017 № 7 «О развитии предпринимательства»).
                </p>
                <p>
                    Договор на размещение средства наружной рекламы между местным исполнительным и распорядительным органом, собственником имущества (уполномоченное лицо) и рекламораспространителем заключается в течение 10 рабочих дней со дня регистрации заявления (п.12 Положения).
                </p>
            </div>

        </div>
        <div class="timep">
            <figure>
                <img src="images/часы.png" alt="foto" />
            </figure>
            <h1>
                СРОК</br>
                ОСУЩЕСТВЛЕНИЯ </br>
                АДМИНИСТРАТИВНОЙ ПРОЦЕДУРЫ:
            </h1>
            <div class="srokp">
                <h1>15 рабочик дней</h1>
            </div>
            <p>
                если требуется разработка проекта привязки средства наружной рекламы к участку местности и (или) подключение к инженерным коммуникациям
            </p>
            <div class="srokp">
                <h1>30 рабочик дней</h1>
            </div>
            <h1>
                СРОК
                ДЕЙСТВИЯ СПРАВОК ИЛИ ДРУГИХ ДОКУМЕНТОВ, </br>ВЫДАВАЕМЫХ
                ПРИ ОСУЩЕСТВЛЕНИИ </br>
                АДМИНИСТРАТИВНОЙ ПРОЦЕДУРЫ:
            </h1>
            <div class="fon1p">
                <div class="squarep">

                    <h2> не менее </br>7 ЛЕТ </h2>
                </div>
                <div>
                    <p>На средства наружной рекламы такие как мультимедийные рекламные конструкции, электронные табло</p>
                </div>
            </div>

            <div class="fon1p">
                <div class="squarep">

                    <h2> не менее </br>5 ЛЕТ </h2>
                </div>
                <div>
                    <p>
                        На иные технически сложные средства наружной рекламы (надкрышные рекламные конструкции, средства наружной рекламы на путепроводах (мостах), щиты с площадью рекламного поля 32 кв. метра и более, иные средства наружной рекламы с площадью рекламного поля более 50 кв. метров, щиты с внутренней подсветкой, щиты с вращающимися рекламными полями, призматроны, лайтпостеры (световые коробы) с площадью рекламного поля более 2,16 кв. метра, лайтпостеры (световые коробы) в подземных пешеходных переходах, панели с внутренней подсветкой, а также иные средства наружной рекламы, отнесенные к технически сложным средствам наружной рекламы решением местного исполнительного и распорядительного органа), объемно-пространственные рекламные конструкции;
                    </p>
                </div>
            </div>
            <div class="fon1p">
                <div class="squarep">

                    <h2> не менее </br>3 ЛЕТ </h2>
                </div>
                <div>
                    <p>
                        На лайтпостеры (световые коробы) с площадью рекламного поля до 2,16 кв. метра включительно, за исключением размещаемых в подземных пешеходных переходах, щиты с площадью рекламного поля до 32 кв. метров без внутренней подсветки, пилоны, панели без внутренней подсветки, указатели с внутренней подсветкой, иные средства наружной рекламы, закрепляемые на земельном участке;
                    </p>
                </div>
            </div>
            <div class="fon1p">
                <div class="squarep">

                    <h2> не менее </br>1 года </h2>
                </div>
                <div>
                    <p>На иные средства наружной рекламы, если иное не определено договором на размещение средства наружной рекламы.</p>
                </div>
            </div>
            <div class="fon1p">
                <div class="squarep">

                    <h3>
                        До</br>
                        окончания</br>
                        осуществления </br>
                        деятельности
                    </h3>
                </div>
                <div>
                    <p>
                        На вывески рекламного характера на срок до окончания расположения производственного объекта, торгового объекта или иного объекта обслуживания или осуществления рекламораспространителем деятельности по месту размещения вывески рекламного характера;
                    </p>
                </div>
            </div>
            <div style="border: rgb(0, 172, 193) 5px solid;"></div>
        </div>
        <div class="bosp">
            <h1 style="text-align: center;">
                ОТВЕТСТВЕННЫЙ ЗА ОСУЩЕСТВЛЕНИЕ </br>
                АДМИНИСТРАТИВНОЙ ПРОЦЕДУРЫ</br>
                8.13.1.  «ПОЛУЧЕНИЕ РАЗРЕШЕНИЯ </br>
                НА РАЗМЕЩЕНИЕ СРЕДСТВА НАРУЖНОЙ РЕКЛАМЫ»</br>
            </h1>
            <div class="fon2p">
                <h1>Шлеёва</br> Наталья Александровна</h1>
                <p>инженер по рекламе</p>
                <h3>
                    ВРЕМЯ ПРИЕМА И ВЫДАЧИ ДОКУМЕНТОВ</br>
                    ДЛЯ ОСУЩЕСТВЛЕНИЯ АДМИНИСТРАТИВНЫХ ПРОЦЕДУР:
                </h3>
                <p>
                    Ежедневно: с 8.00 до 17.00</br>
                    Перерыв на обед: с 13.00 до 14.00
                </p>
                <p>Выходные: суббота, воскресенье</p>
                <p>
                    В отсутствие Шлеёвой Н.А. - Лубяникова Анастасия Владимировна,</br>
                    специалист по рекламе, </br>
                    г.Бобруйск, ул.М.Горького, 41,к.1,</br>
                    тел.+375 (225)-77-65-71
                </p>
                <h3>АДРЕС:</h3>
                <p>г.Бобруйск, ул. М. Горького, 41</p>
                <h3>ТЕЛЕФОН:</h3>
                <p>+375(225) 77-65-71 </p>
                <h3>E-MAIL:</h3>
                <p>reclamariubobr@gmail.com</p>
            </div>
        </div>
        <h1>
            В соответствии со статьей 15  Законом Республики Беларусь от 28.10.2008 №433-З «Об основах административных процедур»
            при обращении субъектов хозяйствования представляются документы:
        </h1>
        <p>
            1. Подтверждающие служебное положение руководителя юридического лица, а также удостоверяющие его личность;</br>
            2. Подтверждающие государственную регистрацию юридического лица или индивидуального предпринимателя;</br>
            3. Подтверждающие полномочия представителя заинтересованного лица.
        </p>
        <h1>Размеры платы за услуги по оформлению (продлению действия, переоформлению) паспорта средства наружной рекламы согласно <a href="~/doc/price_oform.pdf" download>Прейскуранту</a></h1>
    </article>
</main>