﻿@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<main class="main-areap">
    <article>
        <h1>
            Переоформление разрешения
            на размещение средства наружной рекламы
        </h1>
        <p>
            Для переоформления разрешения на размещение средства наружной рекламы рекламораспространитель представляет в коммунальное производственное унитарное предприятие «Реклама и услуги» соответствующее заявление с необходимым пакетом документов (п.31 Положения) для осуществления административной процедуры, предусмотренной подпунктом 8.13.3 пункта 8.13 единого перечня административных процедур, осуществляемых в отношении субъектов хозяйствования, утвержденного постановлением Совета Министров Республики Беларусь от 24 сентября 2021 г. № 548 - переоформление разрешения на размещение средства наружной рекламы</br>
            в срок:</br>
            - не позднее одного месяца со дня перехода права собственности, хозяйственного ведения или оперативного управления на средство наружной рекламы к другому рекламораспространителю;</br>
            - не позднее чем за пять рабочих дней до дня модернизации средства наружной рекламы, в результате которой изменяется вид средства наружной рекламы и (или) в допустимых размерах площадь его рекламного поля.
        </p>

        <h1>
            ПЕРЕЧЕНЬ ДОКУМЕНТОВ
            ДЛЯ ПЕРЕОФОРМЛЕНИЯ ПАСПОРТА:
        </h1>
        <div class="fonp">
            <figure>
                <img src="~/images/заявление.png" alt="foto" />
            </figure>

            <div>
                <h1>1. Заявление</h1>
                <p>
                    Заявление по форме согласно приложению 5 к Положению о порядке выдачи, продления действия, переоформления и прекращения действия разрешения на размещение средства наружной рекламы, утвержденному Постановлением Совета Министров Республики Беларусь от 07.07.2021 № 395 </br> <a href="~/doc/zayavlenie3.docx" download>Сохранить</a>
                </p>

            </div>
        </div>

        <div class="fonp">

            <div class="groupp">
                <h1>2. Фотографии</h1>
                <p>Две фотографии с обозначением места размещения средства наружной рекламы размером 9 x 13 сантиметров, выполненные в цвете</p>
            </div>
            <figure>
                <img src="~/images/2фотографии.png" alt="foto" />
            </figure>
        </div>
        <div class="fonp">
            <figure>
                <img src="~/images/передача.png" alt="foto" />
            </figure>

            <div>
                <h1>3. Документ о передаче права собственности</h1>
                <p>Копия документа, подтверждающего переход права собственности, хозяйственного ведения или оперативного управления на средство наружной рекламы к другому рекламораспространителю, – при переоформлении разрешения в связи с переходом такого права</p>
            </div>

        </div>
        <div class="fonp">

            <div class="groupp">
                <h1>4. Эскиз</h1>
                <p>Эскиз средства наружной рекламы в увязке с конкретной архитектурно-планировочной ситуацией по месту его размещения, выполненный в цвете на бумажном носителе в формате А4 или электронном носителе, – при переоформлении разрешения в связи с модернизацией средства наружной рекламы, в результате которой изменяется вид и (или) в допустимых размерах площадь рекламного поля средства наружной рекламы</p>
            </div>
            <figure>
                <img src="~/images/эскиз.png" alt="foto" />
            </figure>
        </div>

        <div class="fonp">
            <figure>
                <img src="~/images/оплата.png" alt="foto" />
            </figure>
            <div>
                <h1>5. Оплата</h1>
                <p>
                    Документ, подтверждающий внесение платы. </br>
                    Если оригинал документа, подтверждающего внесение платы за совершение административной процедуры и (или) уплату государственной пошлины, существует только в виде электронного документа, заявителем может быть представлена на бумажном носителе форма внешнего представления этого документа, оформленная в соответствии с требованиями законодательства (данное требование не распространяется на случаи внесения платы и (или) уплаты государственной пошлины посредством использования автоматизированной информационной системы единого расчетного и информационного пространства). В случае внесения платы за совершение административной процедуры и (или) уплаты государственной пошлины посредством использования автоматизированной информационной системы единого расчетного и информационного пространства и наличия сведений об этом в заявлении заинтересованного лица о совершении соответствующей административной 851 процедуры с указанием номера платежа, представления документа, подтверждающего внесение платы за совершение административной процедуры и (или) уплату государственной пошлины, не требуется. Факт внесения платы за совершение административной процедуры и (или) уплаты государственной пошлины посредством использования автоматизированной информационной системы единого расчетного и информационного пространства подтверждается наличием в автоматизированной информационной системе единого расчетного и информационного пространства информации, подтверждающей внесение платы, зачисление государственной пошлины
                </p>
            </div>

        </div>

        <div class="fonp" style="border: none">

            <div>
                <h1>ОБРАЩАЕМ ВНИМАНИЕ! </h1>
                <p>
                    Переоформление не осуществляется в случаях:</br>
                    1. Изменения наименования или фамилии, собственного имени, отчества (если таковое имеется) рекламораспространителя, в том числе в результате реорганизации в форме преобразования;</br>
                    2. Изменения места нахождения или места жительства (места пребывания) рекламораспространителя;</br>
                    3. Модернизации средства наружной рекламы, не влекущей изменения вида средства наружной рекламы и (или) площади его рекламного поля.</br>
                    В указанных случаях, рекламораспространитель не позднее одного месяца со дня наступления соответствующего события письменно уведомляет об этом местный исполнительный и распорядительный орган, который прилагает данное уведомление к ранее выданному разрешению
                </p>

            </div>

        </div>
        <div class="timep">
            <figure>
                <img src="~/images/часы.png" alt="foto" />
            </figure>
            <h1>
                СРОК</br>
                ОСУЩЕСТВЛЕНИЯ </br>
                АДМИНИСТРАТИВНОЙ ПРОЦЕДУРЫ:
            </h1>
            <div class="srokp">
                <h1>5 рабочих дней</h1>
            </div>
            <h1>
                СРОК
                ДЕЙСТВИЯ СПРАВОК ИЛИ ДРУГИХ ДОКУМЕНТОВ, </br>ВЫДАВАЕМЫХ
                ПРИ ОСУЩЕСТВЛЕНИИ </br>
                АДМИНИСТРАТИВНОЙ ПРОЦЕДУРЫ:
            </h1>
            <div class="srokp">
                <h1>На срок действия разрешения</h1>
            </div>

            <div style="border: rgb(0, 172, 193) 5px solid; margin-top: 4rem;"></div>
        </div>
        <div class="bosp">
            <h1 style="text-align: center;">
                ОТВЕТСТВЕННЫЙ ЗА ОСУЩЕСТВЛЕНИЕ </br>
                АДМИНИСТРАТИВНОЙ ПРОЦЕДУРЫ</br>
                8.13.3.  «Переоформление разрешения </br>
                на размещение средства наружной рекламы
            </h1>
            <div class="fon2p">
                <h1>Шлеёва</br> Наталья Александровна</h1>
                <p>инженер по рекламе</p>
                <h3>
                    ВРЕМЯ ПРИЕМА И ВЫДАЧИ ДОКУМЕНТОВ</br>
                    ДЛЯ ОСУЩЕСТВЛЕНИЯ АДМИНИСТРАТИВНЫХ ПРОЦЕДУР:
                </h3>
                <p>
                    Ежедневно: с 8.00 до 17.00</br>
                    Перерыв на обед: с 13.00 до 14.00
                </p>
                <p>Выходные: суббота, воскресенье</p>
                <p>
                    В отсутствие Шлеёвой Н.А. - Дедова Ирина Юрьевна,</br>
                    специалист по рекламе, </br>
                    г.Бобруйск, ул.М.Горького, 41,к.1,</br>
                    тел.+375 (225)-77-65-71
                </p>
                <h3>АДРЕС:</h3>
                <p>г.Бобруйск, ул. М. Горького, 41</p>
                <h3>ТЕЛЕФОН:</h3>
                <p>+375(225) 77-65-71 </p>
                <h3>E-MAIL:</h3>
                <p>reclamariubobr@gmail.com</p>
            </div>
        </div>
        <h1>
            В соответствии со статьей 15  Законом Республики Беларусь от 28.10.2008 №433-З «Об основах административных процедур»
            при обращении субъектов хозяйствования представляются документы:
        </h1>
        <p>
            1. Подтверждающие служебное положение руководителя юридического лица, а также удостоверяющие его личность;</br>
            2. Подтверждающие государственную регистрацию юридического лица или индивидуального предпринимателя;</br>
            3. Подтверждающие полномочия представителя заинтересованного лица.
        </p>
        <h1>Размеры платы за услуги по оформлению (продлению действия, переоформлению) паспорта средства наружной рекламы согласно <a href="~/doc/price_oform.pdf" download>Прейскуранту</a></h1>
    </article>

</main>