﻿@model LoginViewModel
<div>
    <h1>Вход в личный кабинет</h1>
    <div class="div-box">
        <div class="login-block">
            <h1>Авторизация</h1>
            <form asp-area="" asp-controller="Account" asp-action="Login" method="post" asp-route-returnUrl="@ViewBag.returnUrl">
                <div asp-validation-summary="All"></div>

                <label asp-for="UserName"></label>
                <input asp-for="UserName" />
                <span asp-validation-for="UserName"></span>


                <label asp-for="Password"></label>
                <input asp-for="Password" />
                <span asp-validation-for="Password"></span>


                <div class="container" style="background-color: #eee">
                    <label asp-for="RememberMe"></label>
                    <input asp-for="RememberMe" />
                    <span asp-validation-for="RememberMe"></span>
                </div>
                <div class="header-btn animated bounceIn">
                    <button>Войти</button>
                </div>

            </form>
        </div>
    </div>
</div>

