﻿@model TextField
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = Model.MetaTitle;
    ViewBag.Description = Model.MetaDescription;
    ViewBag.Keywords = Model.MetaKeywords;

}



<div class="frame">
    <h1>Редактировать страницы сайта</h1>
    <div class="inner-frame">
        <a class="custom-anchor anchor" asp-area="Admin" asp-controller="Auctions" asp-action="Index" asp-route-id=""> Список торгов</a>
        <a class="custom-anchor anchor" asp-area="Admin" asp-controller="Advertising" asp-action="Index" asp-route-id="">Список рекламных конструкций</a>
        <a class="custom-anchor anchor" asp-area="Admin" asp-controller="TextFields" asp-action="Edit" asp-route-codeWord="PageIndex">Редактировать страницу "Главная"</a>
        <a class="custom-anchor anchor" asp-area="Admin" asp-controller="TextFields" asp-action="Edit" asp-route-codeWord="PageServices">Редактировать страницу "Торги"</a>
        <a class="custom-anchor anchor" asp-area="Admin" asp-controller="TextFields" asp-action="Edit" asp-route-codeWord="PageAdvertisings">Редактировать страницу "Сдача рекламных поверхностей"</a>
        <a class="custom-anchor anchor" asp-area="Admin" asp-controller="TextFields" asp-action="Edit" asp-route-codeWord="PageContacts">Редактировать страницу "Контакты"</a>
        <a class="custom-anchor anchor" asp-area="Admin" asp-controller="TextFields" asp-action="Edit" asp-route-codeWord="PageAbout">Редактировать страницу "О предприятии"</a>
        <a class="custom-anchor anchor" asp-area="Admin" asp-controller="TextFields" asp-action="Edit" asp-route-codeWord="PageManagement">Редактировать страницу "Руководство"</a>
    </div>

    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post">
        <input type="submit" value="Выйти" />
    </form>
</div>


















