﻿@model IQueryable<AuctionItem>
@{
    TextField textField = ViewBag.TextField;

    ViewBag.Title = textField.MetaTitle;
    ViewBag.Description = textField.MetaDescription;
    ViewBag.Keywords = textField.MetaKeywords;
}

<main class="main-areap">
    @if (Model.Any())
    {
        <article>
            @foreach (AuctionItem entity in Model)
            {
                <div class="fonp1">
                    <figure>
                        <img src="~/images/@entity.TitleImagePath" alt="" />
                    </figure>
                    <div class="groupp">
                        <a asp-area="" asp-controller="Auctions" asp-action="Index" asp-route-id="@entity.Id">
                            <h1>@entity.Title</h1>
                        </a>
                        <p>@entity.Subtitle</p>
                    </div>
                </div>
            }

        </article>

    }
</main>