@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/* Ко всему файлу*/
html, body {
    min-width: 100%;
    overflow-x: hidden;
    font-size: 15px;
    font-family: 'Cormorant Garamond', serif;
}


/* ВСЯ навигационная панель*/
header .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    min-height: 5%;
    min-width: 100%;
    z-index: 10;
    background-image: -webkit-radial-gradient(bottom,rgb(230, 60, 36),rgb(155, 36, 32));
    border-bottom: 2px solid #b32e2e;
    box-shadow: 10px 4px 10px 3px #888;
}
    /* РЕКЛАМА И УСЛУГИ ЛОГО*/
    header .navigation .logo {
        margin-left: 10px;
        display: flex;
        justify-content: space-between;
    }

        /* РЕКЛАМА И УСЛУГИ сам текст*/
        header .navigation .logo h1 {
            color: #ffffff;
            font-size: 18px;
            text-shadow: -1px -2px 1px rgb(0, 0, 0); /* тень*/
            padding-left: 10px;
            text-align: center;
        }
    /*УЧАСТОК С ЭЛЕМЕНТАМИ НАВ ПАНЕЛИ*/
    header .navigation .menu-list {
        text-align: center;
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 55%;
        margin: auto 30px auto 0;
        flex-wrap: wrap;
    }
        /*ССЫЛКИ*/
        header .navigation .menu-list li a {
            color: #ffffff;
            font-size: 1rem;
            letter-spacing: 2px;
            text-transform: uppercase;
            cursor: pointer;
            transition: color 1s ease, border 1s ease;
            text-decoration: none;
        }

            header .navigation .menu-list li a:hover {
                text-decoration: underline;
            }

        header .navigation .menu-list > li > .submenu {
            display: none;
            list-style: none;
            text-align: left;
            margin-top: 1.7rem;
            background-color: rgb(72, 72, 72);
            padding: 10px;
            height: 15rem;
        }

        header .navigation .menu-list > li > .submenu1 {
            display: none;
            list-style: none;
            text-align: left;
            margin-top: 0.8rem;
            background-color: rgb(72, 72, 72);
            padding: 10px;
            height: 15rem;
        }

        header .navigation .menu-list > li > .submenu2 {
            display: none;
            list-style: none;
            text-align: left;
            margin-top: 1.7rem;
            right: 1px;
            background-color: rgb(72, 72, 72);
            padding: 10px;
            height: 15rem;
        }

        header .navigation .menu-list > li > ul > li {
            padding-top: 20px;
            font-size: 5px;
        }

        header .navigation .menu-list li .submenu li a {
            font-size: 1rem;
        }

    /*РАЗВАРАЧ СПИСОК*/
    header .navigation .humbarger {
        margin-right: 20px;
        display: none;
    }
        /*РАЗВАРАЧ СПИСОК (КВАДРАТ)*/
        header .navigation .humbarger .bar {
            width: 30px;
            height: 2px;
            margin: 7px;
            background: #ffffff; /* фон списка*/
        }

/* ====================
Основное содержимое
=======================*/
.main-area {
    color: #000000;
    background: rgba(255, 255, 255, 0.9); /*фон страницы */
    padding-top: 95px;
    display: flex;
    flex-direction: column;
}

.intro-content1 {
    width: 100%;
    padding: 2em;
}

.intro-content2 {
    width: 100%;
    padding: 2em;
}

.intro-content1 img {
    width: 100%;
    height: auto;
}

.intro-content2 h1 {
    color: #1d3e69;
    font-size: 2.5rem;
    letter-spacing: -1px;
    text-transform: uppercase;
    border-bottom: 0.5px solid #000000;
    padding-bottom: 25px;
    padding-top: 25px;
}

.intro-content2 nav .menu-list1 {
    list-style: none;
    padding-top: 10px;
}

    .intro-content2 nav .menu-list1 li {
        padding-top: 10px;
    }

        .intro-content2 nav .menu-list1 li a {
            color: #020202;
            font-size: 1.55rem;
            letter-spacing: 2px;
            padding-left: 30px;
            cursor: pointer;
            transition: color 1s ease, border 1s ease;
            text-decoration: none;
            transition: all 0.3s;
            border-left: 3px solid rgb(161, 23, 23);
        }

            .intro-content2 nav .menu-list1 li a:hover {
                color: red;
                text-decoration: underline;
            }

/*логин */
input[type="checkbox"] {
    display: inline-block;
    width: 20px;
    height: 10px;
    vertical-align: middle;
    cursor: pointer;
}

.container {
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 2rem;
    font-size: 20px;
    padding-bottom: 4rem;
    text-align: center;
}

.login-block {
    height: 470px;
    width: 420px;
    padding: 20px;
    border-radius: 5px;
    border: 5px solid rgb(155, 36, 32);
    margin: 0 auto;
}

    .login-block h1 {
        text-align: center;
        color: #000;
        font-size: 28px;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 20px;
    }

    .login-block input {
        height: 42px;
        box-sizing: border-box;
        border-radius: 5px;
        border: 1px solid #ccc;
        margin-bottom: 30px;
        font-size: 19px;
        padding: 0 130px 0 20px;
        outline: none;
    }

        .login-block input#username {
            background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px top no-repeat;
            background-size: 16px 80px;
        }

            .login-block input#username:focus {
                background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px bottom no-repeat;
                background-size: 16px 80px;
            }

        .login-block input#password {
            background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px top no-repeat;
            background-size: 16px 80px;
        }

            .login-block input#password:focus {
                background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px bottom no-repeat;
                background-size: 16px 80px;
            }

        .login-block input:active, .login-block input:focus {
            border: 1px solid #ff656c;
        }

    .login-block button {
        width: 100%;
        height: 40px;
        background-image: -webkit-radial-gradient(bottom,rgb(230, 60, 36),rgb(155, 36, 32)); /*фон */
        box-sizing: border-box;
        border-radius: 5px;
        border: 1px solid #e15960;
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 14px;
        font-family: Montserrat;
        outline: none;
        cursor: pointer;
        margin-top: 10px;
        margin-bottom: 2rem;
    }

        .login-block button:hover {
            background: #ff7b81;
        }

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    margin-top: 3rem;
    color: rgb(255, 251, 251);
    min-width: 100%;
    background-color: rgb(72, 72, 72);
    text-align: center;
    bottom: 0%;
    position: static;
}

.foot1 {
    padding-bottom: 1rem;
}

.proc1 {
    padding: 1rem;
}

    .proc1 ul li {
        list-style: none;
        padding-top: 10px;
    }

        .proc1 ul li a {
            text-decoration: none;
            color: rgb(255, 255, 255);
            font-size: 1rem;
            cursor: pointer;
            transition: color 1s ease, border 1s ease;
            transition: all 0.3s;
        }

            .proc1 ul li a:hover {
                text-decoration: underline;
            }

.kont {
    padding-top: 1rem;
}

    .kont ul li {
        line-height: 150%;
        list-style: none;
        font-size: 1rem;
    }

.foot4 {
    margin-left: 5rem;
    margin-right: 5rem;
    border-top: solid 1px white;
    padding: 1rem;
}

.foot4_1 {
    padding-bottom: 1rem;
}

.AP {
    pointer-events: none;
}

/* ====================
Форма
=======================*/
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.col-md-12 form {
    max-width: 300px;
    margin: 10px auto;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
}

.col-md-12 h1 {
    margin: 0 0 30px 0;
    text-align: center;
    color: #1d3e69;
    / font-size: 1.6rem;
    letter-spacing: -1px;
    text-transform: uppercase;
    padding-bottom: 25px;
    padding-top: 25px;
}

input[type="text"],
textarea,
select {
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
}

.col-md-12 button {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #4bc970;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #3ac162;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
}

fieldset {
    margin-bottom: 30px;
    border: none;
}

legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}

label {
    margin-bottom: 8px;
}



/* ====================
Вкладка О предприятии 
=======================*/
.main-areaab {
    color: #000000;
    background: rgba(255, 255, 255, 0.9);
    padding-top: 95px;
    display: flex;
    flex-direction: column;
}

    .main-areaab article h1 {
        color: #1d3e69;
        font-size: 2.5rem;
        letter-spacing: -1px;
        text-transform: uppercase;
        padding-left: 75px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .main-areaab article h2 {
        font-size: 1.5rem;
        letter-spacing: -1px;
        text-transform: uppercase;
        text-transform: uppercase;
        padding-left: 75px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .main-areaab article p {
        color: #000000;
        font-size: 1.3rem;
        padding-top: 25px;
        padding-left: 75px;
        padding-right: 75px;
        text-align: justify;
    }

    .main-areaab article ul {
        color: #000000;
        font-size: 1.3rem;
        padding-left: 95px;
        padding-right: 95px;
        text-align: justify;
    }

    .main-areaab article table {
        overflow-x: auto;
    }

.line {
    border: 0.1px solid #1d3e69;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.main-areaab article img {
    width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

/* ====================
Вкладка контакты
=======================*/
.main-areacon {
    color: #000000;
    background: rgba(255, 255, 255, 0.9);
    padding-top: 95px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .main-areacon article {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

        .main-areacon article .fon {
            margin-top: 15px;
            padding: 10px;
        }

        .main-areacon article .fon1 {
            margin-top: 30px;
            background-color: rgb(230,230,230);
            padding: 10px;
        }

        .main-areacon article h1 {
            color: #1d3e69;
            font-size: 2.5rem;
            letter-spacing: -1px;
            text-transform: uppercase;
            padding-top: 30px;
            text-align: center;
        }

        .main-areacon article .fon p {
            color: #000000;
            font-size: 1.6rem;
            padding-top: 10px;
            text-align: center;
            padding-bottom: 30px;
        }

        .main-areacon article .fon1 p {
            color: #000000;
            font-size: 1.6rem;
            padding-top: 10px;
            text-align: center;
            padding-bottom: 30px;
        }

        .main-areacon article > p {
            color: #000000;
            font-size: 1.6rem;
            padding-top: 10px;
            padding-bottom: 30px;
            text-align: justify;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            padding-top: 15px;
        }

    .main-areacon .bos {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

    .main-areacon article .bos .fon2 {
        margin-top: 30px;
        background-color: rgb(230,230,230);
        padding: 10px;
    }

    .main-areacon article .bos h1 {
        color: #1d3e69;
        font-size: 2rem;
        letter-spacing: -1px;
        text-transform: uppercase;
        padding-top: 30px;
        padding-bottom: 5px;
        text-align: center;
    }

    .main-areacon article .bos .fon2 p {
        color: #000000;
        font-size: 1.6rem;
        text-align: center;
        padding-bottom: 30px;
    }

    .main-areacon article .bos .fon2 h3 {
        color: #1d3e69;
        font-size: 2rem;
        letter-spacing: -1px;
        padding-top: 15px;
        text-align: center;
    }


    .main-areacon article h3 {
        color: #1d3e69;
        font-size: 2rem;
        letter-spacing: -1px;
        padding-top: 15px;
        text-align: center;
    }

    .main-areacon .table table {
        margin-top: 30px;
        min-width: 100%;
        color: #000000;
        border-spacing: 0px 5rem;
        font-size: 1.6rem;
    }

        .main-areacon .table table td {
            vertical-align: top;
        }

@media only screen and (min-width: 768px) and (max-width: 1360px) {

    .proc1 ul li a {
        font-size: 1.1rem;
    }

    .kont ul li {
        font-size: 1rem;
    }

    header .navigation .menu-list li a {
        font-size: 1rem;
    }

    header .navigation .logo h1 {
        padding-left: 50px;
    }

    .intro-content2 h1 {
        font-size: 1.8rem;
    }

    .intro-content2 nav .menu-list1 li a {
        font-size: 1.3rem;
    }

    .intro-content2 nav .menu-list1 {
        padding-top: 5px;
    }

    .intro-content2 li {
        padding-top: 5px;
    }

    header .navigation .menu-list li .submenu li a {
        font-size: 0.8rem;
    }

    header .navigation .menu-list li .submenu1 li a {
        font-size: 0.8rem;
    }

    header .navigation .menu-list li .submenu2 li a {
        font-size: 0.8rem;
    }
}

/*  комп */
@media screen and (min-width: 1100px) {

    .col-md-12 form {
        max-width: 880px;
    }

    .menu-list > li > ul {
        display: none;
        position: absolute;
    }

    .navigation .menu-list li .submenu li a {
        font-size: 1rem;
    }

    .navigation .menu-list li .submenu1 li a {
        font-size: 1rem;
    }

    .navigation .menu-list li .submenu2 li a {
        font-size: 1rem;
    }

    .main-area {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    .main-areacon {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    .main-areaab {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    .intro-content1 {
        width: 50%;
    }

    .intro-content2 {
        width: 50%;
    }

    .footer {
        flex-direction: row;
        justify-content: space-around;
        padding: 1rem;
        text-align: left;
        flex-wrap: wrap;
    }

    .proc1 {
        padding: 0rem;
    }

    .kont {
        padding-top: 0rem;
    }

    .adres {
        display: block;
    }

    .foot1 {
        padding-bottom: 1rem;
        display: flex;
    }

    .foot4 {
        border-top: solid 1px white;
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        flex-basis: auto;
        width: 100%;
    }

    header .navigation .menu-list {
        width: 70%;
    }

    header .navigation .logo h1 {
        padding-left: 10px;
    }
}
/*  мобила */
@media only screen and (max-width: 1100px) {


    main article h1 {
        font-size: 1.8rem;
    }

    .main-areaab article h1 {
        font-size: 1.8rem;
    }

    .main-areacon article h1 {
        font-size: 1.8rem;
    }

    .main-areacon article .fon p {
        font-size: 1.3rem;
    }

    .main-areacon article .fon1 p {
        font-size: 1.3rem;
    }

    .main-areacon article .bos h1 {
        font-size: 1.5rem;
    }

    .main-areacon article .bos .fon2 p {
        font-size: 1.1rem;
    }

    .main-areacon article .bos .fon2 h3 {
        font-size: 1.5rem;
    }

    .main-areacon .table table {
        font-size: 1rem;
    }

    header .navigation .logo h1 {
        font-size: 1rem;
    }

    header .navigation .menu-list > li > .submenu {
        text-align: center;
        margin-top: 0px;
        height: auto;
    }

    header .navigation .menu-list > li > .submenu1 {
        text-align: center;
        margin-top: 0px;
        height: auto;
    }

    header .navigation .menu-list > li > .submenu2 {
        text-align: center;
        margin-top: 0px;
        height: auto;
        padding-bottom: 10px;
    }

    header .navigation .menu-list li .submenu li a {
        font-size: 0.8rem;
    }

    header .navigation .menu-list li .submenu1 li a {
        font-size: 0.8rem;
    }

    header .navigation .menu-list li .submenu2 li a {
        font-size: 0.8rem;
    }

    header .navigation .menu-list {
        position: absolute;
        top: 3.8rem;
        min-width: 100%;
        background-image: -webkit-radial-gradient(bottom,rgb(230, 60, 36),rgb(155, 36, 32)); /*фон */
        text-align: center;
        display: none;
        overflow-y: scroll;
        max-height: calc(100vh - 50px);
    }


        header .navigation .menu-list li {
            display: block;
        }

            header .navigation .menu-list li a {
                display: block;
                padding: 13px;
                transition: color 1s ease, padding 1s ease, background-color 1s ease;
                font-size: 1rem;
            }

                header .navigation .menu-list li a:hover {
                    color: #ffffff;
                    padding-left: 30px;
                    background: rgb(161, 11, 19);
                    text-decoration: none;
                }

            header .navigation .menu-list li .submenu a:hover {
                color: #ffffff;
                padding-left: 30px;
                background: rgb(114, 111, 111);
                text-decoration: none;
            }

            header .navigation .menu-list li .submenu1 a:hover {
                color: #ffffff;
                padding-left: 30px;
                background: rgb(114, 111, 111);
                text-decoration: none;
            }

            header .navigation .menu-list li .submenu2 a:hover {
                color: #ffffff;
                padding-left: 30px;
                background: rgb(114, 111, 111);
                text-decoration: none;
            }

    .intro-content2 {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    header .navigation .humbarger {
        display: block;
    }

    .intro-content2 h1 {
        font-size: 1.5rem;
        padding-top: 0px;
    }

    .intro-content2 nav .menu-list1 li a {
        font-size: 1.1rem;
    }

    address {
        font-size: 0.8rem;
    }

    .proc1 ul li a {
        font-size: 1rem;
    }

    .kont ul li {
        font-size: 1rem;
    }
}

.div-box {
    padding-top: 8rem;
    min-height: calc(100vh - 300px);
}

ul.big-image-list li {
    overflow: hidden;
    margin-bottom: 2em;
}

    ul.big-image-list li img {
        width: 178px;
    }

ul.big-image-list img {
    width: 75px;
}

ul.big-image-list li img {
    width: 100px;
}

img.left {
    float: left;
    margin: 2px 1.25em 0 0;
}

.img-block {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}
