@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;600;700&display=swap');

* {
    margin: 0; /*  внешний отступ*/
    padding: 0; /*  внутренний отступ*/
    box-sizing: border-box; /*казывает веб-браузеру, что ширина и высота элемента должны включать внутренние отступы и границы как часть своего значения. */
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

html, body {
    min-width: 100%;
    overflow-x: hidden;
    font-size: 15px;
    font-family: 'Cormorant Garamond', serif;
}

.main-areap {
    color: #000000;
    background: rgba(255, 255, 255, 0.9); /*фон страницы */
    padding-top: 95px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 300px);
}

.frame {
    color: #000000;
    background: rgba(255, 255, 255, 0.9); /*фон страницы */
    padding-top: 95px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 300px);
}

    .frame .inner-frame {
        padding-top: 50px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

.custom-anchor {
    width: 330px;
    height: 120px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}

.frame h1 {
    color: #1d3e69; 
    font-size: 2.5rem;
    letter-spacing: -1px; 
    text-transform: uppercase;
    padding-bottom: 25px;
    padding-top: 25px;
    text-align: center;
}

.frame a {
    margin: 30px;
    text-align: center;
    padding: 3rem;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.2rem; 
    text-decoration: none;
}

.frame form input {
    text-align: center;
    width: 330px;
    height: 30px;
    background: rgb(211,211,211);
    border: none;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.2rem; 
    margin-top: 2rem;
}

    .frame form input:before {
        height: 0%;
        width: 2px;
    }

    .frame form input:hover {
        box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5), -4px -4px 6px 0 rgba(116, 125, 136, .5), inset -4px -4px 6px 0 rgba(255,255,255,.2), inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
    }

.anchor {
    background: rgb(151, 35, 64);
    background-image: -webkit-radial-gradient(bottom,rgb(230, 60, 36),rgb(155, 36, 32));
    border: none;
}

    .anchor:before {
        height: 0%;
        width: 2px;
    }

    .anchor:hover {
        box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5), -4px -4px 6px 0 rgba(116, 125, 136, .5), inset -4px -4px 6px 0 rgba(255,255,255,.2), inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
    }

.main-areap article > h1 {
    color: #1d3e69; 
    font-size: 2rem; 
    letter-spacing: -1px; 
    text-transform: uppercase; 
    padding-top: 30px;
    text-align: left;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.main-areap article > p {
    color: #000000; 
    font-size: 1.6rem; 
    padding-top: 10px;
    padding-bottom: 30px;
    text-align: justify;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
}

.main-areap article .fonp {
    display: flex;
    align-items: center;
    flex-direction: row;
    border-bottom: black 1px solid;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

.main-areap article .fonp1 {
    display: flex;
    align-items: center;
    flex-direction: row;
    border-bottom: black 1px solid;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}


.main-areap article .fonp figure img {
    padding-top: 5rem;
    margin-left: 5rem;
    padding-right: 5rem;
    height: 350px;
    width: 350px;
}

.main-areap article .fonp1 figure img {
    padding-top: 5rem;
    margin-left: 5rem;
    padding-right: 5rem;
    height: 350px;
    width: 450px;
}

.main-areap article {
    min-width: 100%;
}

    .main-areap article .fonp1 .groupp {
        min-width: 100%;
    }

    .main-areap article .fonp div h1 {
        color: #1d3e69; 
        font-size: 2rem; 
        letter-spacing: -1px; 
        text-transform: uppercase; 
        padding-top: 30px;
        text-align: left;
    }

    .main-areap article .fonp1 div h1 {
        color: #1d3e69;
        font-size: 2rem; 
        letter-spacing: -1px; 
        text-transform: uppercase; 
        padding-top: 30px;
        text-align: left;
    }

    .main-areap article .fonp p {
        color: #000000; 
        font-size: 1.6rem; 
        padding-top: 10px;
        padding-bottom: 30px;
        text-align: justify;
    }

    .main-areap article .fonp1 p {
        color: #000000;
        font-size: 1.6rem; 
        padding-top: 10px;
        padding-bottom: 30px;
        text-align: justify;
    }


    .main-areap article .timep h1 {
        color: #1d3e69;
        font-size: 2rem; 
        letter-spacing: -1px; 
        text-transform: uppercase; 
        padding-top: 30px;
        text-align: center;
    }

    .main-areap article .timep p {
        color: #000000;
        font-size: 1.6rem; 
        padding-top: 30px;
        text-align: center;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }


    .main-areap article .timep .srokp {
        background-color: rgb(0, 172, 193);
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 20px;
        margin-top: 50px;
        border-radius: 25px;
    }

        .main-areap article .timep .srokp h1 {
            color: white;
            text-transform: none;
            font-family: 'Roboto', serif;
        }

    .main-areap article .timep figure img {
        height: auto;
        width: 100%;
    }

    .main-areap article .timep .fon1p {
        display: flex;
        align-items: center;
        flex-direction: row;
        padding-top: 30px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 20px;
    }

        .main-areap article .timep .fon1p .squarep {
            min-width: 174px;
            min-height: 184px;
            background-color: rgb(0, 172, 193);
            border-radius: 25px;
            margin-right: 6rem;
        }

            .main-areap article .timep .fon1p .squarep h2 {
                color: white;
                font-family: 'Roboto', serif;
                font-size: 1.8rem;
                text-transform: none;
                padding-top: 50px;
                text-align: center;
            }

            .main-areap article .timep .fon1p .squarep h3 {
                color: white;
                font-family: 'Roboto', serif;
                font-size: 1rem;
                text-transform: none;
                padding-top: 30px;
                text-align: center;
            }

        .main-areap article .timep .fon1p div p {
            color: #000000; 
            font-size: 1.6rem; 
            padding-top: 30px;
            text-align: justify;
            padding-left: 8rem;
        }

    .main-areap article .bosp {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

        .main-areap article .bosp .fon2p {
            margin-top: 30px;
            background-color: rgb(230,230,230);
            padding: 10px;
        }

        .main-areap article .bosp h1 {
            color: #1d3e69; 
            font-size: 2rem;
            letter-spacing: -1px; 
            text-transform: uppercase; 
            padding-top: 30px;
            padding-bottom: 5px;
            text-align: center;
        }

        .main-areap article .bosp .fon2p p {
            color: #000000; 
            font-size: 1.6rem; 

            text-align: center;
            padding-bottom: 30px;
        }

        .main-areap article .bosp .fon2p h3 {
            color: #1d3e69; 
            font-size: 2rem; 
            letter-spacing: -1px; 
            padding-top: 15px;
            text-align: center;
        }

    .main-areap article .fonp1 a {
        color: #020202;
        font-size: 1.55rem; 
        letter-spacing: 2px; 
        cursor: pointer; 
        transition: color 1s ease, border 1s ease; 
        text-decoration: none; 
        transition: all 0.3s;
    }

        .main-areap article .fonp1 a:hover {
            color: #1d3e69;
            text-decoration: underline;
        }

.table {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

main article .table #example tbody tr td a {
    text-decoration: none;
}

    main article .table #example tbody tr td a:hover {
        text-decoration: underline;
    }

@media only screen and (min-width: 768px) and (max-width: 1360px) {


    .main-areap article h1 {
        font-size: 2rem;
    }

    .main-areap article .fonp p {
        font-size: 1.6rem;
    }

    .main-areap article .fonp1 p {
        font-size: 1.6rem; 
    }

    .main-areap article .fonp div h1 {
        font-size: 1.7rem;
    }

    .main-areap article .fonp1 div h1 {
        font-size: 1.7rem;
    }

    .main-areap article .timep .fon1p .squarep h2 {
        font-size: 1.7rem;
    }

    .main-areap article > h1 {
        font-size: 1.7rem;
    }

    .main-areap article .timep h1 {
        font-size: 1.7rem; 
    }

    .main-areap article .fonp div p {
        font-size: 1.3rem; 
    }

    .main-areap article .fonp1 div p {
        font-size: 1.3rem; 
    }

    .main-areap article .timep p {
        font-size: 1.3rem; 
    }

    .main-areap article .timep .fon1p div p {
        font-size: 1.3rem; 
    }

    .main-areap article > p {
        font-size: 1.3rem; 
    }

    .main-areap article .bosp h1 {
        font-size: 1.7rem; 
    }

    .main-areap article .bosp .fon2p p {
        font-size: 1.3rem; 
    }

    .main-areap article .bosp .fon2p h3 {
        font-size: 1.7rem; 
    }
}

@media screen and (min-width: 1100px) {

    .main-areap {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }
}
/* мобила */
@media only screen and (max-width: 1100px) {
    .main-areap article h1 {
        font-size: 1.8rem; 
    }

    .main-areap article .fonp div h1 {
        font-size: 1.5rem;
        padding-left: 40px;
        padding-right: 40px;
    }

    .main-areap article .fonp1 div h1 {
        font-size: 1.5rem;
        padding-left: 40px;
        padding-right: 40px;
    }

    .main-areap article .timep .fon1p .squarep h2 {
        font-size: 1.5rem;
        padding-left: 40px;
        padding-right: 40px;
    }

    .main-areap article > h1 {
        font-size: 1.5rem; 
        padding-left: 60px;
        padding-right: 60px;
        text-align: center;
    }

    .main-areap article .timep h1 {
        font-size: 1.5rem; 
        padding-left: 60px;
        padding-right: 60px;
        text-align: center;
    }

    .main-areap article .fonp div p {
        font-size: 1.1rem; 
        padding-left: 40px;
        padding-right: 40px;
    }

    .main-areap article .fonp1 div p {
        font-size: 1.1rem; 
        padding-left: 40px;
        padding-right: 40px;
    }

    .main-areap article .timep p {
        font-size: 1.1rem; 
        padding-left: 40px;
        padding-right: 40px;
    }

    .main-areap article .timep .fon1p div p {
        font-size: 1.1rem;
        padding-left: 40px;
        padding-right: 40px;
    }

    .main-areap article > p {
        font-size: 1.1rem; 
        padding-left: 40px;
        padding-right: 40px;
    }

    .main-areap article .timep .fon1p .squarep {
        margin-left: auto;
        margin-right: auto;
    }

    .main-areap article .fonp {
        flex-direction: column;
    }

    .main-areap article .fonp1 {
        flex-direction: column;
    }

    .main-areap article .timep .fon1p {
        flex-direction: column;
    }

    .main-areap article .fonp .groupp {
        order: 1;
    }


    .main-areap article .bosp h1 {
        font-size: 1.5rem;
    }

    .main-areap article .bosp .fon2p p {
        font-size: 1.1rem;
    }

    .main-areap article .bosp .fon2p h3 {
        font-size: 1.5rem; 
    }
}
