﻿<!DOCTYPE html>

<html>
<head>
    @await Html.PartialAsync("MetatagsPartial")
    @await Html.PartialAsync("CssPartial")
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script asp-src-include="~/js/table.js"></script>
    @await Html.PartialAsync("ScriptsPartial")
</head>
<body>
    @await Html.PartialAsync("HeaderPartial")
    <div>
        @RenderBody()
    </div>
    @await Html.PartialAsync("FooterPartial")

</body>
<script>
    $(document).ready(function () {
        $('.humbarger').click(function (event) {
            $('.menu-list').slideToggle(500);
            event.preventDefault();
            $('.menu-list .submenu-link .submenu li a').click(function (event) {
                if ($(window).width() < 768) {
                    $('.menu-list').slideUp(500);
                    event.preventDefault();
                }
            });
        });
    });
    $(document).ready(function () {
        $('.submenu-link').click(function (event) {
            $('.submenu').slideToggle(500);
            event.preventDefault();
            $('.menu-list .submenu-link .submenu li a').click(function (event) {
                if ($(window).width() < 768) {
                    $('.menu-list').slideUp(500);
                    event.preventDefault();
                }
            });
        });
    });

    $(document).ready(function () {
        $('.submenu-link1').click(function (event) {
            $('.submenu1').slideToggle(500);
            event.preventDefault();
            $('.menu-list .submenu-link1 .submenu1 li a').click(function (event) {
                if ($(window).width() < 768) {
                    $('.menu-list').slideUp(500);
                    event.preventDefault();
                }
            });
        });
    });

    $(document).ready(function () {
        $('.submenu-link2').click(function (event) {
            $('.submenu2').slideToggle(500);
            event.preventDefault();
            $('.menu-list .submenu-link2 .submenu2 li a').click(function (event) {
                if ($(window).width() < 768) {
                    $('.menu-list').slideUp(500);
                    event.preventDefault();
                }
            });
        });
    });

    $(document).ready(function () {
        $('#example tfoot th').each(function (k) {
            if (k === 0 || k === 1) { // Если только первый и второй столбец
                var title = $(this).text();
                $(this).html('<input type="text" placeholder="Поиск ' + title + '" />');
            }
        });
        var table = $('#example').DataTable({
            initComplete: function () {
                // Apply the search
                this.api().columns().every(function () {
                    var that = this;
                    $('input', this.footer()).on('keyup change clear', function () {
                        if (that.search() !== this.value) {
                            that
                                .search(this.value)
                                .draw();
                        }
                    });
                });
            }
        });
    });</script>
</html>

