﻿<!-- чтобы файл закэшировался и не обращался повторно на сервер не менялся -->
<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/procedures.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/contacts.css" asp-append-version="true" />
<link asp-href-include="~/css/index.css" />
<link asp-href-include="~/css/contacts.css" />
<link asp-href-include="~/css/procedures.css" />

<link href="@Url.Content("~/css/contacts.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/css/index.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/css/procedures.css")" rel="stylesheet" type="text/css" />


