﻿<footer itemscope itemtype="https://schema.org/Organization">

    <div class="footer">
        <figure class="logo foot1">
            <img src="~/images/лог4.png" width="300" height="150" alt="лог1">
        </figure>

        <nav class="proc1 foot1">
            <ul>
                <li><a class="AP" href=" ">АДМИНИСТРАТИВНЫЕ ПРОЦЕДУРЫ:</a></li>
                <li><a asp-area="" asp-controller="Administrative" asp-action="Index">Получение разрешения</a></li>
                <li><a asp-area="" asp-controller="Administrative" asp-action="Extend">Продление действия разрешения</a></li>
                <li><a asp-area="" asp-controller="Administrative" asp-action="Reregister">Переформление действия разрешения</a></li>
                <li><a asp-area="" asp-controller="Administrative" asp-action="Duplicate">Выдача дубликата разрешения</a></li>
            </ul>
        </nav>

        <nav class="proc1 foot1">
            <ul>
                <li><a asp-area="" asp-controller="Advertising" asp-action="Documentation">Сбор документов для оформления паспорта </a></li>
                <li><a asp-area="" asp-controller="Advertising" asp-action="Design">Дизайн</a></li>
                <li><a asp-area="" asp-controller="Advertisings" asp-action="Index" asp-route-id="">Рекламные поверхности</a></li>
                <li><a asp-area="" asp-controller="Services" asp-action="Index" asp-route-id="">Торги</a></li>
            </ul>
        </nav>


        <div class="kont foot1">
            <ul>
                <li>КОНТАКТЫ</li>
                <li><span itemprop="telephone">+375 225 77 65 71</span></li>
                <li><span itemprop="telephone">+375 225 71 50 05</span></li>
                <li><span itemprop="email">reclamariu@mail.ru</span></li>
                <li><span itemprop="email">reclamariubobr@gmail.com</span></li>
            </ul>

        </div>


        <address class="adres foot4">
            <div class="foot4_1">
                <span itemprop="name">Государственное предприятие «Реклама и услуги»</span>,
                <div itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
                    юридический адрес:
                    <span itemprop="postalCode">213809,</span>
                    <span itemprop="addressLocality">г. Бобруйск,</span>
                    <span itemprop="streetAddress">ул. М. Горького, д. 41, к. 2</span>
                </div>
            </div>
            <div><a href="http://bobruisk.by/"><img alt=" " src="~/images/БГИК.png" width="100" height="50" title="Бобруйский городской исполнительный комитет" /></a> <a href="http://www.mart.gov.by/"><img alt=" " src="~/images/Ministerstva_handlu.png" width="50" height="50" title="Министерство антимонопольного регулирования и торговли" /></a></div>

            <div>
                <p>Регистрационный № 79035698<br /> дата государственной регистрации 30.12.2006</p>
            </div>
        </address>
    </div>
</footer>
