﻿<header>
    <nav class="navigation">

        <!-- Логтип -->
        <figure class="logo">
            <a href=" "><img src="~/images/герб.png" width="44" height="53" alt="gerb"></a>
            <h1>@Config.CompanyName</h1>
        </figure>

        <!-- Панель навигации -->
        <ul class="menu-list">
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Главная</a> </li>
            <li>
                <a href=" " class="submenu-link">Предприятие</a>
                <ul class="submenu">
                    <li><a asp-area="" asp-controller="Home" asp-action="About">О предприятии</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Management">Руководство</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contacts">Контакты</a></li>
                </ul>
            </li>
            <li>
                <a asp-area="" asp-controller="Services" asp-action="Index" asp-route-id="" class="submenu-link1">Административные <br />процедуры</a>
                <ul class="submenu1">
                    <li><a asp-area="" asp-controller="Administrative" asp-action="Index">Получение разрешения</a></li>
                    <li><a asp-area="" asp-controller="Administrative" asp-action="Extend">Продление действия </br>разрешения</a></li>
                    <li><a asp-area="" asp-controller="Administrative" asp-action="Reregister">Переформление действия </br>разрешения</a></li>
                    <li><a asp-area="" asp-controller="Administrative" asp-action="Duplicate">Выдача дубликата разрешения</a></li>
                </ul>
            </li>

            <li><a asp-area="" asp-controller="Auctions" asp-action="Index" asp-route-id="">Торги</a></li>
            <li>
                <a href=" " class="submenu-link2">Услуги</a>
                <ul class="submenu2">
                    <li><a asp-area="" asp-controller="Advertisings" asp-action="Index"> Сдача рекламных </br> поверхностей</a></li>
                    <li><a asp-area="" asp-controller="Advertising" asp-action="Documentation"> Сбор документов </br>для оформления </br>паспорта </a></li>
                    <li><a asp-area="" asp-controller="Advertising" asp-action="Design"> Дизайн </a></li>
                </ul>
            </li>
        </ul>

        <div class="humbarger">
            <div class="bar"></div>
            <div class="bar2 bar"></div>
            <div class="bar"></div>
        </div>

    </nav>
</header>
