﻿@using Reclama5;
@using Reclama5.Service;
<meta name="viewport" content="width=device-width" />
<meta charset="utf-8" />

@if (ViewBag.Title != null)
{
    <title>@ViewBag.Title</title>
}
else
{
    <title>@Config.CompanyName</title>
}

@if (ViewBag.Description != null)
{
    <meta name="description" content="@ViewBag.Description">
}
@if (ViewBag.Keywords != null)
{
    <meta name="keywords" content="@ViewBag.Keyword" />
}

