﻿@model AuctionItem
@{
    string strTitle = "Редактировать запись";
    ViewBag.Title = strTitle;
}

<script src="~/js/ckeditor/ckeditor.js"></script>




<div class="col-md-12">

    <h1>@strTitle</h1>

    <!-- методом пост отправляем на сервер enctype="multipart/form-data" браузер будет знать, что вместе с формой надо передать файлы-->
    <form asp-area="Admin" asp-controller="AuctionItems" asp-action="Edit" method="post" enctype="multipart/form-data">
        <fieldset>

            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="DateAdded" />
            <input type="hidden" asp-for="TitleImagePath" />

            <div asp-validation-summary="All"></div>

            <label asp-for="Title"></label>
            <input asp-for="Title" />
            <span asp-validation-for="Title"></span>

            <label asp-for="Subtitle"></label>
            <input asp-for="Subtitle" />
            <span asp-validation-for="Subtitle"></span>

            <label asp-for="Text"></label>
            <textarea asp-for="Text"></textarea>
            <span asp-validation-for="Text"></span>

            <label asp-for="TitleImagePath"></label>
            <input type="file" name="titleImageFile" id="titleImageFile" />
            <div>
                <img class="img-block" src="~/images/@Model.TitleImagePath" />
            </div>

            <label asp-for="MetaTitle"></label>
            <input asp-for="MetaTitle" />
            <span asp-validation-for="MetaTitle"></span>


            <label asp-for="MetaDescription"></label>
            <input asp-for="MetaDescription" />
            <span asp-validation-for="MetaDescription"></span>


            <label asp-for="MetaKeywords"></label>
            <input asp-for="MetaKeywords" />
            <span asp-validation-for="MetaKeywords"></span>

        </fieldset>
        <button type="submit">Сохранить</button>
    </form>
</div>

<script>
    window.onload = function () {
        var newCKEdit = CKEDITOR.replace('@Html.IdFor(x=>x.Text)');
        newCKEdit.updateElement();
    }
</script>