﻿@model IQueryable<Advertisinglist>
@{
    TextField textField = ViewBag.TextField;
    Advertisinglist advertisinglist = new Advertisinglist();

    ViewBag.Title = textField.MetaTitle;
    ViewBag.Description = textField.MetaDescription;
    ViewBag.Keywords = textField.MetaKeywords;
}
<script asp-src-include="~/js/table.js"></script>
<main class="main-areap">
    <article>

        <h1>Список средств наружной рекламы</h1>
        <div class="map"><iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A8c949a49fe4f4894e25d940cf77960a9733aaab80beda9cb17c2f06686acae44&amp;source=constructor" width="100%" height="400" frameborder="0"></iframe></div>
        <div class="table">
            <table id="example" class="display" style="text-align: center ">
                <thead>
                    <tr>
                        <th>Порядковый номер</th>
                        <th>Вид средства наружной рекламы</th>
                        <th>Площадь</th>
                        <th>Адрес</th>
                        <th>Рекламное поле А</th>
                        <th>Рекламное поле Б</th>
                    </tr>
                </thead>
                @if (Model.Any())
                {
                    @foreach (Advertisinglist entity in Model)
                    {
                        <tr>
                            <td>
                                @entity.Number
                            </td>
                            <td>
                                @entity.Type
                            </td>
                            <td>
                                @entity.Square
                            </td>
                            <td>
                                <a asp-area="" asp-controller="Advertisings" asp-action="Index" asp-route-id="@entity.Id">
                                    @entity.Address
                                </a>
                            </td>
                            <td>
                                @entity.FieldA
                            </td>
                            <td>
                                @entity.FieldB
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
    </article>
</main>
