﻿@model Advertisinglist
@{
    ViewBag.Title = Model.MetaTitle;
    ViewBag.Description = Model.MetaDescription;
    ViewBag.Keywords = Model.MetaKeywords;
}

<div class="main-areaab">
    <article>
        <h1>
            @Model.Title
        </h1>
        <h2>
            @Model.Subtitle
        </h2>

        <img src="~/images/@Model.TitleImagePath" />

    </article>
</div>
<div class="main-areaab">
    <article>
        @Html.Raw(Model.Text)
    </article>
</div>