﻿@model TextField
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
@{
    @if (Model?.MetaTitle == null)
    {
        ViewBag.Title = "Реклама и услуги";
    }
    else
    {
        ViewBag.Title = Model.MetaTitle;
    }

    @if (Model?.MetaDescription == null)
    {
        ViewBag.Description = "Оформление, продление, переоформление паспорта средства наружной рекламы. Размещение рекламы на рекламных щитах, рекламных пилонах, лайтпостерах в городе Бобруйске. Аренда помещений. Торги на право размещения средства наружной рекламы";
    }
    else
    {
        ViewBag.Descriptione = Model.MetaDescription;
    }
    @if (Model?.MetaKeywords == null)
    {
        ViewBag.Keywords = "реклама, рекламный щит, рекламный пилон, лайтпостер, рекламное агентство, реламная организация, разместить рекламу на улице, заказать услуги по рекламе, размещение рекламы, реклама на транспорте, паспортизация рекламы, оформление рекламы, реклама и услуги, средства наружной рекламы в Бобруйске";
    }
    else
    {
        ViewBag.Keywords = Model.MetaKeywords;
    }
}


@if (Model?.Text == null)
{
    <div class="main-areaab">
        <article>
            <h1>О предприятие</h1>
            <p>
                Коммунальное производственное унитарное предприятие «Реклама и услуги» было основано в 2006 году
                решением Бобруйского исполнительного комитета №22-4 от 25.10.2006.
            </p>
            <div class="line" style="width: 15%;"></div>
            <p>
                Решением Бобруйского горисполкома от 19 ноября 2021г. №20-196 «О размещении (распространении) и  наружной рекламы
                и её средств на территории города Бобруйска» (далее – Решение №20-196),
                коммунальному производственному унитарному предприятию «Реклама и услуги» делегированы полномочия по приему,
                подготовке к рассмотрению, принятию административного решения об отказе в принятии
            </p>

            <ul>
                <li>заявления на  выдачу разрешения на размещение средства наружной рекламы (далее – разрешение),</li>
                <li>заявления на продление действия разрешения, </li>
                <li>заявления на выдачу дубликата разрешения,</li>
                <li>заявления на переоформление разрешения.</li>
            </ul>
            <div class="line" style="width: 15%;"></div>
            <p>
                Коммунальное производственное унитарное предприятие «Реклама и услуги» Решением  №20-196 определенно как специализированная
                организация по проведению торгов на право размещения средства рекламы, в том числе средства наружной рекламы,
                на государственном недвижимом имуществе.
            </p>
            <div class="line" style="width: 15%;"></div>
            <p>
                Решением Бобруйского горисполкома от 15 октября 2021г. №20-76 «О наделении полномочиями» (далее – Решение №20-76),
                коммунальное производственное унитарное предприятие «Реклама и услуги» уполномочено на:
                проведение мероприятий, направленных на сбор информации о соблюдении субъектами хозяйствования на территории
                города Бобруйска законодательства о рекламе, в том числе о соответствии размещенной наружной рекламы и ее средств
                условиям выданных разрешений и заключенных договоров на размещение средства наружной рекламы, с предоставлением
                информации в управление торговли и услуг горисполкома
            </p>
            <div class="line" style="width: 15%;"></div>
            <p>
                Согласно Решению №20-76 коммунальное производственное унитарное предприятие «Реклама и услуги»
                осуществляет контроль за
            </p>
            <ul>
                <li>правильностью исчисления платы за размещение средства наружной рекламы;</li>
                <li>полным и своевременным поступлением в бюджет города Бобруйска платы за размещение средства наружной рекламы. </li>
            </ul>
            <div class="line" style="width: 15%;"></div>
            <p>
                Государственное предприятие "Реклама и услуги" является оператором наружной рекламы в городе Бобруйске,
                предоставляющим собственную сеть наружной рекламы для размещения рекламы третьих лиц, имущество которого находится в коммунальной собственности города Бобруйска.
            </p>
        </article>
    </div>
}
else
{
    <div class="contacts">
        @Html.Raw(Model?.Text)
    </div>
}