﻿@model TextField
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
@{
    @if (Model?.MetaTitle == null)
    {
        ViewBag.Title = "Реклама и услуги";
    }
    else
    {
        ViewBag.Title = Model.MetaTitle;
    }

    @if (Model?.MetaDescription == null)
    {
        ViewBag.Description = "Оформление, продление, переоформление паспорта средства наружной рекламы. Размещение рекламы на рекламных щитах, рекламных пилонах, лайтпостерах в городе Бобруйске. Аренда помещений. Торги на право размещения средства наружной рекламы";
    }
    else
    {
        ViewBag.Descriptione = Model.MetaDescription;
    }
    @if (Model?.MetaKeywords == null)
    {
        ViewBag.Keywords = "реклама, рекламный щит, рекламный пилон, лайтпостер, рекламное агентство, реламная организация, разместить рекламу на улице, заказать услуги по рекламе, размещение рекламы, реклама на транспорте, паспортизация рекламы, оформление рекламы, реклама и услуги, средства наружной рекламы в Бобруйске";
    }
    else
    {
        ViewBag.Keywords = Model.MetaKeywords;
    }
}


@if (Model?.Text == null)
{
    <div class="main-areacon">
        <article>
            <h1 style="text-align: left;">Контакты</h1>
            <div class="fon">
                <h3>Коммунальное производственное унитарное предприятие "Реклама и услуги" </h3>
                <p>юридический адрес: 213809, г. Бобруйск, ул. М. Горького, д. 41, к. 2</p>
                <h3>Время работы предприятия:</h3>
                <p>Понедельник – пятница:8.00 – 17.00 Обеденный перерыв: 13.00 – 14.00Выходные: суббота, воскресенье</p>
            </div>
            <div style="border: 1px solid grey; padding: 1rem; "><script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A8d7a08356c19a7552f95ec6bd292e92d9c73383d24e221811840d1e9f695f710&amp;max-width=622&amp;min-width=auto&amp;height=421&amp;lang=ru_RU&amp;scroll=true"></script></div>
        </article>
        <article class="table">
            <table>
                <tr>
                    <td>Директор</td>
                    <td>+375 225 77 63 89</td>
                </tr>
                <tr>
                    <td>Бухгалтерия</td>
                    <td>+375 225 74 00 44</td>
                </tr>
                <tr>
                    <td>
                        Оформление,переоформление,
                        продление, выдача дубликата
                        паспорта средства наружной рекламы
                    </td>
                    <td>+375 225 77-65-71</td>
                </tr>
                <tr>
                    <td>
                        Оплата в городской бюджет
                        за размещение средства наружной рекламы
                    </td>
                    <td>+375 225 71 50 05</td>
                </tr>
                <tr>
                    <td>Дизайнер</td>
                    <td>+375 225 76 00 78</td>
                </tr>
                <tr>
                    <td>
                        Размещение рекламы
                        на рекламных конструкциях
                        предприятия
                    </td>
                    <td>+375 225 77-65-71</td>
                </tr>
                <tr>
                    <td>
                        Услуги по сбору документов
                        для оформления паспорта
                    </td>
                    <td> +375 225 76 00 78</td>
                </tr>
            </table>
            <div class="fon">
                <h3>Банковские реквизиты </h3>
                <p>
                    Счет № (IBAN): BY34 AKBB 3012 1123 9117 6710 0000 ОАО «АСБ «Беларусбанк»

                    Код банка: (BIC) AKBBBY2Х

                    г. Бобруйск

                    код 153801760

                    УНП 790373119

                    ОКПО 293206137000
                </p>
                <h3>Реквизиты для внесения платы за размещение (распространение) наружной рекламы:</h3>
                <p>
                    Получатель платежа: Главное управление Министерства финансов Республики Беларусь по Могилевской области

                    УНП 700451296

                    Счет № (IBAN): BY08 AKBB 3600 7030 0001 9000 0000

                    г. Минск

                    Код банка (BIC) AKBB BY 2X

                    Назначение платежа: за размещение (распространение) наружной рекламы

                    Код платежа в бюджет: 05519
                </p>
            </div>
        </article>
    </div>
}
else
{
    <div class="contacts">
        @Html.Raw(Model?.Text)
    </div>
}