﻿@model TextField
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = Model.MetaTitle;
    ViewBag.Description = Model.MetaDescription;
    ViewBag.Keywords = Model.MetaKeywords;

}



<main class="main-area">
    <!-- ==== О предприятии ==== -->
    <figure class="intro-content1">
        <img src="images/фото1.png" alt="foto" />
    </figure>

    <article class="intro-content2">
        <h1>Предприятие</h1>
        <nav>
            <ul class="menu-list1">
                <li><a asp-area="" asp-controller="Home" asp-action="About"> О предприятии</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Management">Руководство</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Contacts">Контакты</a></li>
            </ul>
        </nav>
    </article>

    <!-- ==== Администратиыные процедуры ==== -->
    <figure class="intro-content1">
        <img src="images/фото2.png" width="800" alt="foto" />
    </figure>
    <article class="intro-content2">
        <h1>Административные процедуры</h1>
        <nav>
            <ul class="menu-list1">
                <li><a asp-area="" asp-controller="Administrative" asp-action="Index">Получение разрешения</a></li>
                <li><a asp-area="" asp-controller="Administrative" asp-action="Extend">Продление действия разрешения</a></li>
                <li><a asp-area="" asp-controller="Administrative" asp-action="Reregister">Переформление действия разрешения</a></li>
                <li><a asp-area="" asp-controller="Administrative" asp-action="Duplicate">Выдача дубликата разрешения</a></li>
            </ul>
        </nav>
    </article>

    <!-- ==== Торги ==== -->
    <figure class="intro-content1">
        <img src="images/фото3.png" width="800" alt="foto" />
    </figure>

    <article class="intro-content2">
        <h1>Торги</h1>
        <nav>
            <ul class="menu-list1">
                <li><a asp-area="" asp-controller="Auctions" asp-action="Index" asp-route-id=""> Аукционы и конкурсы</a></li>
            </ul>
        </nav>
    </article>

    <!-- ==== Сдача рекламных поверхностей ==== -->
    <figure class="intro-content1">
        <img src="images/фото4.png" width="800" alt="foto" />
    </figure>

    <article class="intro-content2">
        <h1>Услуги</h1>
        <nav>
            <ul class="menu-list1">
                <li><a asp-area="" asp-controller="Advertisings" asp-action="Index" asp-route-id=""> Сдача рекламных поверхностей</a></li>
                <li><a asp-area="" asp-controller="Advertising" asp-action="Documentation">  Сбор документов для оформления паспорта </a></li>
                <li><a asp-area="" asp-controller="Advertising" asp-action="Design">  Дизайн </a></li>
            </ul>
        </nav>
    </article>
</main>
