﻿@model TextField
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
@{
    @if (Model?.MetaTitle == null)
    {
        ViewBag.Title = "Реклама и услуги";
    }
    else
    {
        ViewBag.Title = Model.MetaTitle;
    }

    @if (Model?.MetaDescription == null)
    {
        ViewBag.Description = "Оформление, продление, переоформление паспорта средства наружной рекламы. Размещение рекламы на рекламных щитах, рекламных пилонах, лайтпостерах в городе Бобруйске. Аренда помещений. Торги на право размещения средства наружной рекламы";
    }
    else
    {
        ViewBag.Descriptione = Model.MetaDescription;
    }
    @if (Model?.MetaKeywords == null)
    {
        ViewBag.Keywords = "реклама, рекламный щит, рекламный пилон, лайтпостер, рекламное агентство, реламная организация, разместить рекламу на улице, заказать услуги по рекламе, размещение рекламы, реклама на транспорте, паспортизация рекламы, оформление рекламы, реклама и услуги, средства наружной рекламы в Бобруйске";
    }
    else
    {
        ViewBag.Keywords = Model.MetaKeywords;
    }
}


@if (Model?.Text == null)
{
    <div class="main-areacon">

        <article>
            <h1 style="text-align: left; font-size: 1.8rem;">Вышестоящая организация</h1>
            <div class="fon1">
                <h1>
                    Управление торговли и услуг
                    Бобруйского городского исполнительного комитета
                </h1>

                <h3>АДРЕС:</h3>
                <p>г. Бобруйск, пл. Ленина, 1</p>
                <h3>Семенчук Елена Анатольевна</h3>
                <p>
                    Начальник управление торговли и услуг
                    Бобруйского городского исполнительного комитета
                </p>
                <h3>ТЕЛЕФОН:</h3>
                <p>8-0225-68-00-40</p>
            </div>
        </article>

        <article>
            <h1 style="text-align: left; font-size: 1.8rem;">РУКОВОДСТВО ПРЕДПРИЯТИЯ</h1>
            <div class="fon1">
                <h1>Петрусевич Владимир Владимирович</h1>
                <p>директор</p>
                <h3>ПРИЕМ ГРАЖДАН:</h3>
                <p>
                    Первая и третяя среда месяца c 8:00 до 13:00
                    по предварительной записи.При  временном отсутствии  по уважительным причинам (отпуск, болезнь, командиовка) в день личного приема рруководителем, личный прием осуществляет юрисконсульт Жигунов Роман Игоревич г. Бобруйск, ул. М. Горького, 41, каб. 3 тел. 77-63-89
                </p>
                <h3>АДРЕС:</h3>
                <p>г.Бобруйск, ул. М. Горького, 41</p>
                <h3>E-MAIL:</h3>
                <p>reclamariubobr@gmail.com</p>
            </div>
        </article>
        <article>
            <div class="fon1">
                <h1>ШинкоренкоЛюдмила Витальевна</h1>
                <p>главный бухгалтер</p>
                <h3>Телефон:</h3>
                <p>74-00-44</p>
                <h3>АДРЕС:</h3>
                <p>г.Бобруйск, ул. М. Горького, 41</p>
                <h3>E-MAIL:</h3>
                <p>reclamariubobr@gmail.com</p>
            </div>
        </article>
        <article>
            <div class="fon1">
                <p style=" padding-top: 10px;">
                    Предварительная запись на личный приём осуществляется по номеру:
                    г. Бобруйск, ул. М. Горького, 41, каб. 1,тел./факс  +375 (225) 77-65-71
                </p>
            </div>
        </article>
    </div>

}
else
{

    <div class="contacts">
        @Html.Raw(Model?.Text)
    </div>
}