﻿@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<main class="main-areacon">


    <article>

        <h1>Дизайн рекламы</h1>

        <div class="bos">

            <div class="fon2">

                <h3>АДРЕС:</h3>
                <p>г.Бобруйск, ул. М. Горького, 41</p>
                <h3>ТЕЛЕФОН:</h3>
                <p>+375(225) 76-00-78 </p>
                <h3>E-MAIL:</h3>
                <p>reclamariubobr@gmail.com</p>
            </div>
        </div>

        <h1>ЦЕНА ЗА РАЗРАБОТКУ ДИЗАЙНА РЕКЛАМЫ 12 рубля за 1 час работы</h1>
        <p></p>
        <p></p>
    </article>

</main>