﻿@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<main class="main-areacon">

    <!-- ==== О предприятии ==== -->
    <article>
        <h1>СБОР ДОКУМЕНТОВ И ОФОРМЛЕНИЕ ПАСПОРТОВ</h1>
        <p>
            Сбор пакета документов (в том числе изготовление фотографий и эскизов) с последующим оформлением (переоформлением, продлением) разрешений на размещение средств наружной рекламы
        </p>
        <div class="bos">

            <div class="fon2">

                <h3>АДРЕС:</h3>
                <p>г.Бобруйск, ул. М. Горького, 41</p>
                <h3>ТЕЛЕФОН:</h3>
                <p>+375(225) 77-65-71 </p>
                <h3>E-MAIL:</h3>
                <p>reclamariubobr@gmail.com</p>
            </div>
        </div>
        <h1><a href="~/doc/price_oform.pdf" download>Прейскурант</a> НА УСЛУГИ ПО ФОРМИРОВАНИЮ ПАКЕТА ДОКУМЕНТОВ ДЛЯ ОФОРМЛЕНИЯ (ПРОДЛЕНИЯ) ПАСПОРТА СРЕДСТВА НАРУЖНОЙ РЕКЛАМЫ </h1>
    </article>

</main>