﻿@model IQueryable<AuctionItem>

@{
    string strTitle = "Панель администратора";
    ViewBag.Title = strTitle;
}
<script asp-src-include="~/js/table.js"></script>

<main class="main-areap">
    <article>
        <button>
            <a asp-area="Admin" asp-controller="AuctionItems" asp-action="Edit" asp-route-id="">Добавить торги</a>
        </button>
        <div class="table">
            <table id="example" class="display" style="text-align: center ">
                <thead>
                    <tr>
                        <th>Редоктирование</th>
                        <th>Удаление</th>
                        <th>Адрес</th>
                    </tr>
                </thead>
                @if (Model.Any())
                {
                    @foreach (var entity in Model)
                    {
                        <tr>
                            <td>
                                <a asp-area="Admin" asp-controller="AuctionItems" asp-action="Edit" asp-route-id="@entity.Id">редактировать</a>
                            </td>
                            <td>
                                <form style="display: inline-block;" id="form-@entity.Id" asp-area="Admin" asp-controller="AuctionItems" asp-action="Delete" method="post">
                                    <input type="hidden" name="id" value="@entity.Id">
                                    <a href="#" onclick="document.getElementById('form-@entity.Id').submit();">удалить</a>
                                </form>
                            </td>
                            <td>
                                <a asp-area="" asp-controller="Auctions" asp-action="Index" asp-route-id="@entity.Id">
                                    @($"{entity.Title}")
                                </a>
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
    </article>

    <div>
        <form asp-area="Admin" asp-controller="Home" asp-action="Index" method="post">
            <input type="submit" value="Выйти" />
        </form>
    </div>

</main>




